# Gradle
.gradle/
.gradle-user-home/
**/.gradle/
build/
**/build/

# Local config
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# NDK / C++
.externalNativeBuild/
.cxx/

# Logs
*.log

# Keystore (nếu có)
*.jks
*.keystore